<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BeatSage_Downloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BeatSage_Downloader_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BeatSage_Downloader.Properties.Settings>
            <setting name="outputDirectory" serializeAs="String">
                <value>Downloads</value>
            </setting>
            <setting name="previousDifficulties" serializeAs="String">
                <value>Expert,ExpertPlus</value>
            </setting>
            <setting name="previousGameModes" serializeAs="String">
                <value>Standard</value>
            </setting>
            <setting name="previousGameEvents" serializeAs="String">
                <value />
            </setting>
            <setting name="previousEnvironment" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="previousModelVersion" serializeAs="String">
                <value>V2</value>
            </setting>
            <setting name="automaticExtraction" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="overwriteExisting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="savedDownloads" serializeAs="String">
                <value />
            </setting>
            <setting name="saveDownloadsQueue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="currentVersion" serializeAs="String">
                <value>v1.2.1</value>
            </setting>
            <setting name="enableLocalYouTubeDownload" serializeAs="String">
                <value>True</value>
            </setting>
        </BeatSage_Downloader.Properties.Settings>
        <BeatSage_Downloader_WPF.Properties.Settings>
            <setting name="outputDirectory" serializeAs="String">
                <value>Downloads</value>
            </setting>
            <setting name="previousDifficulties" serializeAs="String">
                <value>Expert,ExpertPlus</value>
            </setting>
            <setting name="previousGameModes" serializeAs="String">
                <value>Standard</value>
            </setting>
            <setting name="previousGameEvents" serializeAs="String">
                <value />
            </setting>
        </BeatSage_Downloader_WPF.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>