<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BeatSage_Downloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="BeatSage_Downloader_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <BeatSage_Downloader.Properties.Settings>
            <setting name="outputDirectory" serializeAs="String">
                <value>Downloads</value>
            </setting>
            <setting name="previousDifficulties" serializeAs="String">
                <value>Expert,ExpertPlus</value>
            </setting>
            <setting name="previousGameModes" serializeAs="String">
                <value>Standard</value>
            </setting>
            <setting name="previousGameEvents" serializeAs="String">
                <value />
            </setting>
            <setting name="previousEnvironment" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="previousModelVersion" serializeAs="String">
                <value>V2</value>
            </setting>
            <setting name="automaticExtraction" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="preferYoutubeDL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skipExisting" serializeAs="String">
                <value>False</value>
            </setting>
        </BeatSage_Downloader.Properties.Settings>
        <BeatSage_Downloader_WPF.Properties.Settings>
            <setting name="outputDirectory" serializeAs="String">
                <value>Downloads</value>
            </setting>
            <setting name="previousDifficulties" serializeAs="String">
                <value>Expert,ExpertPlus</value>
            </setting>
            <setting name="previousGameModes" serializeAs="String">
                <value>Standard</value>
            </setting>
            <setting name="previousGameEvents" serializeAs="String">
                <value/>
            </setting>
        </BeatSage_Downloader_WPF.Properties.Settings>
    </userSettings>
</configuration>
